/* Container styling for the contact page */
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

/* Left column styles */
.left-column {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color:black;
  background-image: radial-gradient(circle at center center, rgb(233, 255, 32),rgb(176, 209, 39),rgb(118, 163, 47),rgb(61, 116, 54),rgb(3, 70, 61));
}

.address-info, .hours-info, .social-media {
  margin-top: 20px;
  color:black;
}


.social-icon {
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

.map-container {
  margin-top: 30px;
}

.map-container iframe {
  border-radius: 8px;
}

/* Right column styles */
.right-column {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
}

.faq-section {
  margin-top: 30px;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-item strong {
  color: #007bff;
}

/* Form styles */
.mb-3 {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
