
  h2 {
    color:black; /* Light color for headings */
  }
  
  /* Container to align the left and right columns */
  .layout {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    min-height: calc(100vh - 60px);
  }
  
  /* Left and Right columns styling */
  .left-column,
  .right-column {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 48%; /* Columns take up equal width */
    transition: transform 0.3s ease;
  }
  
  .left-column p,
  .right-column p {
    color: black /* Slightly muted color for text */
  }
  
  .left-column a {
    color: darkblue; /* Link color for better contrast */
    text-decoration: none;
  }
  
  .left-column a:hover {
    text-decoration: underline;
  }
  
  /* Form styling */
  .form-label {
    color: #ecf0f1; /* Light text for labels */
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #bdc3c7;
    color: #ecf0f1;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  textarea.form-control {
    resize: none;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #1abc9c;
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #1abc9c;
    border: none;
    color: #ecf0f1;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #16a085;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .layout {
      flex-direction: column;
    }
  
    .left-column,
    .right-column {
      width: 100%; /* Full width on small screens */
      margin-bottom: 20px;
    }
  }
  