.card {
  width: 300px;
  height: 400px;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.dashboard-flex {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgba(70, 129, 76, 0.338);
  gap: 20px;
  border-radius: 5px;
}

.dashboard-content {
  background-color: #e6d9a2;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: #333;
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* Cards take full width on smaller screens */
    margin: 10px 0;
  }

  .dashboard-flex {
    flex-direction: column; /* Stacks cards vertically on smaller screens */
  }
}
