/* Layout Styles */

.layout-container {
  display: flex;
  padding: 2rem;
  margin-top: 5px; /* To push content below the fixed navbar */
  gap: 2rem; /* Gap between the two columns */
  justify-content: space-between;
  background-image: linear-gradient(45deg, rgb(2, 6, 1) 0%, rgb(2, 6, 1) 14.286%,rgb(8, 29, 31) 14.286%, rgb(8, 29, 31) 28.572%,rgb(13, 52, 61) 28.572%, rgb(13, 52, 61) 42.858%,rgb(19, 75, 92) 42.858%, rgb(19, 75, 92) 57.144%,rgb(25, 98, 122) 57.144%, rgb(25, 98, 122) 71.43%,rgb(30, 121, 152) 71.43%, rgb(30, 121, 152) 85.716%,rgb(36, 144, 182) 85.716%, rgb(36, 144, 182) 100.002%);
}

.layout-container > * {
  flex: 1;
}

/* Optional: Styling for Columns */
.left-column {
  background-color: #f8f9fa;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-column {
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Layout for smaller screens */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column; /* Stacks the columns vertically on small screens */
    gap: 1rem;
  }
}
