/* Container styling */
.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Form input styling */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border-color: #3498db;
  outline: none;
}

/* Button styling */
.login-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
  background-color: #2980b9;
}

.register-button {
  background-color: transparent;
  border: none;
  color: #3498db;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.register-button:hover {
  text-decoration: underline;
}

/* Success and error message styling */
.login-container p {
  font-size: 14px;
  margin-top: 10px;
}

.login-container p[style="color: red;"] {
  color: #e74c3c !important;
}

.login-container p[style="color: green;"] {
  color: #2ecc71 !important;
}
