* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

.profile {
  max-width: 700px;
  padding: 40px;
  background-color: rgba(179, 179, 152, 0.931);
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.profile h2 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}

.profile p {
  font-size: 20px;
  line-height: 1.6;
  margin: 15px 0;
  color: #d9e4f5;
}

.profile h3 {
  font-size: 28px;
  margin: 25px 0 15px;
  color: #00bcd4;
}

.profile ul {
  list-style-type: none;
  padding: 0;
}

.profile li {
  background: #f4f4f9;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  font-size: 18px;
  color: #333;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile li:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.profile h2,
.profile h3,
.profile li {
  color: #000; /* Setting text color to black for better readability */
}
