.serach-id {
  padding: 20px;
  background-color: rgba(179, 179, 152, 0.931);
  margin: 0 auto;

  border-radius: 5px;
}
button {
  padding: 10px 30px;
  margin-top: 20px;
  width: 100%;
  font-weight: 500;
}
